$TTL 3600
$ORIGIN http3.{{ happy_eyeballs.nameserver.base_domain }}.

@                 IN  SOA    ns1.{{ happy_eyeballs.nameserver.base_domain }}. mail.net.in.tum.de. 1722513549 3600 900 604800 180
@                 IN  NS     ns1.{{ happy_eyeballs.nameserver.base_domain }}.
@                 IN  NS     ns2.{{ happy_eyeballs.nameserver.base_domain }}.


$TTL 300

id-*.http3               IN  A         {{ happy_eyeballs.webserver.http3.ipv4 }}
id-*.http3               IN  AAAA      {{ happy_eyeballs.webserver.http3.ipv6 }}

id-*.http3-https         IN  A         {{ happy_eyeballs.webserver.http3.ipv4 }}
id-*.http3-https         IN  AAAA      {{ happy_eyeballs.webserver.http3.ipv6 }}
id-*.http3-https         IN  HTTPS  1  . alpn=h3,h2

id-*.http3-altsvc        IN  A         {{ happy_eyeballs.webserver.http3.ipv4 }}
id-*.http3-altsvc        IN  AAAA      {{ happy_eyeballs.webserver.http3.ipv6 }}

id-*.http3-https-altsvc  IN  A         {{ happy_eyeballs.webserver.http3.ipv4 }}
id-*.http3-https-altsvc  IN  AAAA      {{ happy_eyeballs.webserver.http3.ipv6 }}
id-*.http3-https-altsvc  IN  HTTPS  1  . alpn=h3,h2
