$TTL 3600
$ORIGIN v1.{{ basedomain }}.

@                 IN  SOA    ns1.v1.{{ basedomain }}. mail.net.in.tum.de. 1722513549 3600 900 604800 180
@                 IN  NS     ns1.{{ basedomain }}.
@                 IN  NS     ns2.{{ basedomain }}.

{% for num in [1, 2] %}
ns{{ num }}       IN  A         {{ nsaddrs.ipv4[num - 1] }}
ns{{ num }}       IN  AAAA      {{ nsaddrs.ipv6[num - 1] }}
{% endfor %}

ipv6-only          IN  AAAA     {{ v6onlyaddress }}
ipv4-only          IN  A        {{ v4onlyaddress }}

$TTL 300
{% for headdr in headdresses %}
{% if ":" in headdr.address %}
id-*.delay-{{ headdr.delay_id }}        IN AAAA {{ headdr.address }}
{% else %}
id-*.delay-{{ headdr.delay_id }}        IN A    {{ headdr.address }}
{% endif %}
{% endfor %}

