$TTL 3600
$ORIGIN v3-quic.{{ happy_eyeballs.nameserver.base_domain }}.

@                 IN  SOA    ns1.{{ happy_eyeballs.nameserver.base_domain }}. mail.net.in.tum.de. 1722513549 3600 900 604800 180
@                 IN  NS     ns1.{{ happy_eyeballs.nameserver.base_domain }}.
@                 IN  NS     ns2.{{ happy_eyeballs.nameserver.base_domain }}.


$TTL 300

{% for delay in happy_eyeballs.webserver.he_v3_quic.delays %}
# QUIC delay
id-*.quic-delay-{{ delay }}  IN  A         {{ happy_eyeballs.webserver.he_v3_quic.ipv4 }}
id-*.quic-delay-{{ delay }}  IN  AAAA      {{ happy_eyeballs.webserver.he_v3_quic.ipv6 }}
id-*.quic-delay-{{ delay }}  IN  HTTPS  1  . alpn=h3,h2

ipv4-id-*.quic-delay-{{ delay }}  IN  A         {{ happy_eyeballs.webserver.he_v3_quic.ipv4 }}
ipv4-id-*.quic-delay-{{ delay }}  IN  HTTPS  1  . alpn=h3,h2

ipv6-id-*.quic-delay-{{ delay }}  IN  AAAA      {{ happy_eyeballs.webserver.he_v3_quic.ipv6 }}
ipv6-id-*.quic-delay-{{ delay }}  IN  HTTPS  1  . alpn=h3,h2

# TLS delay
id-*.tls-delay-{{ delay }}   IN  A         {{ happy_eyeballs.webserver.he_v3_quic.ipv4 }}
id-*.tls-delay-{{ delay }}   IN  AAAA      {{ happy_eyeballs.webserver.he_v3_quic.ipv6 }}
id-*.tls-delay-{{ delay }}   IN  HTTPS  1  . alpn=h3,h2

ipv4-id-*.tls-delay-{{ delay }}   IN  A         {{ happy_eyeballs.webserver.he_v3_quic.ipv4 }}
ipv4-id-*.tls-delay-{{ delay }}   IN  HTTPS  1  . alpn=h3,h2

ipv6-id-*.tls-delay-{{ delay }}   IN  AAAA      {{ happy_eyeballs.webserver.he_v3_quic.ipv6 }}
ipv6-id-*.tls-delay-{{ delay }}   IN  HTTPS  1  . alpn=h3,h2
{% endfor %}
