server {
    listen [::]:443 ssl;
    listen 443 ssl;

    server_name {{ happy_eyeballs.webtester.domains | join(',') }};

    ssl_certificate /etc/letsencrypt/live/{{ happy_eyeballs.webtester.domains | first }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ happy_eyeballs.webtester.domains | first }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    root {{ happy_eyeballs.base_path }}/www-root;
    index main.html;

    location ~ ^/results/ {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_pass http://{{ happy_eyeballs.uploadserver.host }}:{{ happy_eyeballs.uploadserver.port }};
    }
}

server {
    listen 80;
    listen [::]:80;

    server_name {{ happy_eyeballs.webtester.domains | join(',') }};

    return 301 https://$host$request_uri;
}
