server {
    listen [{{ happy_eyeballs.webserver.http3.ipv6 }}]:443 ssl;
    listen {{ happy_eyeballs.webserver.http3.ipv4 }}:443 ssl;

    listen [{{ happy_eyeballs.webserver.http3.ipv6 }}]:443 quic reuseport;
    listen {{ happy_eyeballs.webserver.http3.ipv4 }}:443 quic reuseport;

    http2 on;
    http3 on;

    server_name *.http3.v3-quic.{{ happy_eyeballs.nameserver.base_domain }};

    ssl_certificate /etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3 | replace('*.', '') }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3 | replace('*.', '') }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    root {{ happy_eyeballs.base_path }}/www-root;

    location /ping {
        include /etc/nginx/happy-eyeballs-cors.conf;

        add_header 'Content-Type' 'application/json';
        return 200 '{"server_ip": "$server_addr", "client_ip": "$remote_addr", "protocol": "$server_protocol"}\n';
    }
}

server {
    listen [{{ happy_eyeballs.webserver.http3.ipv6 }}]:443 ssl;
    listen {{ happy_eyeballs.webserver.http3.ipv4 }}:443 ssl;

    listen [{{ happy_eyeballs.webserver.http3.ipv6 }}]:443 quic;
    listen {{ happy_eyeballs.webserver.http3.ipv4 }}:443 quic;

    http2 on;
    http3 on;

    server_name *.http3-https.v3-quic.{{ happy_eyeballs.nameserver.base_domain }};

    ssl_certificate /etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_https | replace('*.', '') }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_https | replace('*.', '') }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    root {{ happy_eyeballs.base_path }}/www-root;

    location /ping {
        include /etc/nginx/happy-eyeballs-cors.conf;

        add_header 'Content-Type' 'application/json';
        return 200 '{"server_ip": "$server_addr", "client_ip": "$remote_addr", "protocol": "$server_protocol"}\n';
    }
}

server {
    listen [{{ happy_eyeballs.webserver.http3.ipv6 }}]:443 ssl;
    listen {{ happy_eyeballs.webserver.http3.ipv4 }}:443 ssl;

    listen [{{ happy_eyeballs.webserver.http3.ipv6 }}]:443 quic;
    listen {{ happy_eyeballs.webserver.http3.ipv4 }}:443 quic;

    http2 on;
    http3 on;

    server_name *.http3-altsvc.v3-quic.{{ happy_eyeballs.nameserver.base_domain }};

    ssl_certificate /etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_altsvc | replace('*.', '') }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_altsvc | replace('*.', '') }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    root {{ happy_eyeballs.base_path }}/www-root;

    location /ping {
        include /etc/nginx/happy-eyeballs-cors.conf;

        add_header Alt-Svc 'h3=":443"; ma=60';

        add_header 'Content-Type' 'application/json';
        return 200 '{"server_ip": "$server_addr", "client_ip": "$remote_addr", "protocol": "$server_protocol"}\n';
    }
}

server {
    listen [{{ happy_eyeballs.webserver.http3.ipv6 }}]:443 ssl;
    listen {{ happy_eyeballs.webserver.http3.ipv4 }}:443 ssl;

    listen [{{ happy_eyeballs.webserver.http3.ipv6 }}]:443 quic;
    listen {{ happy_eyeballs.webserver.http3.ipv4 }}:443 quic;

    http2 on;
    http3 on;

    server_name *.http3-https-altsvc.v3-quic.{{ happy_eyeballs.nameserver.base_domain }};

    ssl_certificate /etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_https_altsvc | replace('*.', '') }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_https_altsvc | replace('*.', '') }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    root {{ happy_eyeballs.base_path }}/www-root;

    location /ping {
        include /etc/nginx/happy-eyeballs-cors.conf;

        add_header Alt-Svc 'h3=":443"; ma=60';

        add_header 'Content-Type' 'application/json';
        return 200 '{"server_ip": "$server_addr", "client_ip": "$remote_addr", "protocol": "$server_protocol"}\n';
    }
}

server {
    listen [{{ happy_eyeballs.webserver.http3_only.ipv6 }}]:443 ssl;
    listen {{ happy_eyeballs.webserver.http3_only.ipv4 }}:443 ssl;

    listen [{{ happy_eyeballs.webserver.http3_only.ipv6 }}]:443 quic reuseport;
    listen {{ happy_eyeballs.webserver.http3_only.ipv4 }}:443 quic reuseport;

    http3 on;

    server_name *.http3-only.v3-quic.{{ happy_eyeballs.nameserver.base_domain }};

    ssl_certificate /etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_only | replace('*.', '') }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_only | replace('*.', '') }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    root {{ happy_eyeballs.base_path }}/www-root;

    if ($server_protocol !~* "HTTP/3.0") {
        return 444; # special nginx's non-standard code 444 closes the connection
    }

    location /ping {
        include /etc/nginx/happy-eyeballs-cors.conf;

        add_header 'Content-Type' 'application/json';
        return 200 '{"server_ip": "$server_addr", "client_ip": "$remote_addr", "protocol": "$server_protocol"}\n';
    }
}

server {
    listen [{{ happy_eyeballs.webserver.http3_only.ipv6 }}]:443 ssl;
    listen {{ happy_eyeballs.webserver.http3_only.ipv4 }}:443 ssl;

    listen [{{ happy_eyeballs.webserver.http3_only.ipv6 }}]:443 quic;
    listen {{ happy_eyeballs.webserver.http3_only.ipv4 }}:443 quic;

    http3 on;

    server_name *.http3-only-https.v3-quic.{{ happy_eyeballs.nameserver.base_domain }};

    ssl_certificate /etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_only_https | replace('*.', '') }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_only_https | replace('*.', '') }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    root {{ happy_eyeballs.base_path }}/www-root;

    if ($server_protocol !~* "HTTP/3.0") {
        return 444; # special nginx's non-standard code 444 closes the connection
    }

    location /ping {
        include /etc/nginx/happy-eyeballs-cors.conf;

        add_header 'Content-Type' 'application/json';
        return 200 '{"server_ip": "$server_addr", "client_ip": "$remote_addr", "protocol": "$server_protocol"}\n';
    }
}
