[Unit]
Description=Happy Eyeballs Packet Capture TShark
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/mkfifo {{ happy_eyeballs.packet_capture.tshark.pipe_path }}
ExecStartPre=/bin/chmod 666 {{ happy_eyeballs.packet_capture.tshark.pipe_path }}
ExecStart=/bin/sh -c '/usr/bin/tshark -l -i any -f "dst port 443" -Y "tls.handshake.extensions_server_name or (tcp.flags.syn == 1 and tcp.flags.ack == 0)" -T ek -e frame.time_epoch -e _ws.col.Source -e tcp.srcport -e udp.srcport -e _ws.col.Protocol -e tls.handshake.extensions_server_name > {{ happy_eyeballs.packet_capture.tshark.pipe_path }}'
Restart=always
RestartSec=1
# ExecStopPost=-/bin/rm -f {{ happy_eyeballs.packet_capture.tshark.pipe_path }}
