[Unit]
Description=Happy Eyeballs Tester DNS Server
ConditionFileIsExecutable={{ basepath }}/dns/start.sh
ConditionFileIsExecutable={{ basepath }}/dns/destroy.sh
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers
OnFailure=status-email@%n.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Environment=DOCKER_HOST=unix:///run/user/{{ user_uid }}/podman/podman.sock
Type=simple
User={{ dns_user }}
ExecStart={{ basepath }}/dns/start.sh
ExecStopPost=/usr/local/bin/systemd-email %n --no-send-on-success
