server {
    root {{ basepath }}/www-root;

    server_name {{ hedomains | join(' ')  }}; # managed by Certbot

    location /results {
        proxy_pass http://127.0.0.1:40000;  # Pass requests to the backend application
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /v2results {
        proxy_pass http://127.0.0.1:40000;  # Pass requests to the backend application
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    index main.html;

    listen [::]:443 ssl;
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ hedomains | first }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ hedomains | first }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}

server {
    return 301 https://$host:443$request_uri;

    listen 80 ;
    listen [::]:80 ;
    server_name {{ hedomains | join(' ') }};
    return 404; # managed by Certbot
}