server {
    root {{ basepath }}/www-root;

    server_name {{ certbot_v2_domain }};

    location /ping {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
        add_header 'Access-Control-Allow-Headers' 'Content-Type, Authorization';
        add_header 'Access-Control-Allow-Credentials' 'true' always;
        add_header 'Access-Control-Max-Age' 1728000;
        add_header 'Content-Type' 'text/plain charset=UTF-8';
        return 200 "$server_addr\n";
    }

    listen [::]:443 ssl;
    listen 443 ssl;
    # listen [::]:443 quic;
    # listen 443 quic;
    # http2 on;
    # http3_hq on;

    ssl_certificate /etc/letsencrypt/live/{{  certbot_v2_domain | replace('*.', '') }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{  certbot_v2_domain | replace('*.', '') }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    return 301 https://$host:12443$request_uri;

    listen 80 ;
    listen [::]:80 ;
    server_name {{ certbot_v2_domain }};
    return 404; # managed by Certbot
}