{
    "v1_delays": {{ (happy_eyeballs.webserver.delays | map(attribute="delay") | unique | sort)[:-2] | to_json }},
    "v2_delays": {{ happy_eyeballs.webserver.delays | map(attribute="delay") | unique | sort | to_json }}
}
