### GLOBAL

{
	debug # TODO

    admin off

    servers {{ happy_eyeballs.webserver.ipv4 }}:443 {
        protocols h1
    }
    servers [{{ happy_eyeballs.webserver.ipv6 }}]:443 {
        protocols h1
    }

    {% for item in happy_eyeballs.webserver.delays %}
    servers {{ item.ipv4 }}:443 {
        protocols h1
    }
    servers [{{ item.ipv6 }}]:443 {
        protocols h1
    }
    {% endfor %}

    servers {{ happy_eyeballs.webserver.he_v3_quic.ipv4 }}:8443 {
        timeouts {
			idle 100ms # TODO: adjust
        }
    }
    servers [{{ happy_eyeballs.webserver.he_v3_quic.ipv6 }}]:8443 {
        timeouts {
			idle 100ms # TODO: adjust
        }
    }

    layer4 {
        udp/{{ happy_eyeballs.webserver.he_v3_quic.ipv4 }}:443 {
            {% for delay in happy_eyeballs.webserver.he_v3_quic.delays %}
            @quic-delay-{{ delay }} quic sni *.quic-delay-{{ delay }}.v3-quic.{{ happy_eyeballs.nameserver.base_domain }}
            route @quic-delay-{{ delay }} {
                throttle {
                    latency {{ delay }}ms
                }

                proxy udp/{{ happy_eyeballs.webserver.he_v3_quic.ipv4 }}:8443
            }
            {% endfor %}

            @quic-other quic
            route @quic-other {
                proxy udp/{{ happy_eyeballs.webserver.he_v3_quic.ipv4 }}:8443
            }
        }

        udp/[{{ happy_eyeballs.webserver.he_v3_quic.ipv6 }}]:443 {
            {% for delay in happy_eyeballs.webserver.he_v3_quic.delays %}
            @quic-delay-{{ delay }} quic sni *.quic-delay-{{ delay }}.v3-quic.{{ happy_eyeballs.nameserver.base_domain }}
            route @quic-delay-{{ delay }} {
                throttle {
                    latency {{ delay }}ms
                }

                proxy udp/[{{ happy_eyeballs.webserver.he_v3_quic.ipv6 }}]:8443
            }
            {% endfor %}

            @quic-other quic
            route @quic-other {
                proxy udp/[{{ happy_eyeballs.webserver.he_v3_quic.ipv6 }}]:8443
            }
        }

        tcp/{{ happy_eyeballs.webserver.he_v3_quic.ipv4 }}:443 {
            {% for delay in happy_eyeballs.webserver.he_v3_quic.delays %}
            @tls-delay-{{ delay }} tls sni *.tls-delay-{{ delay }}.v3-quic.{{ happy_eyeballs.nameserver.base_domain }}
            route @tls-delay-{{ delay }} {
                throttle {
                    latency {{ delay }}ms
                }

                 proxy tcp/{{ happy_eyeballs.webserver.he_v3_quic.ipv4 }}:8443
            }
            {% endfor %}

            @tls-other tls
            route @tls-other {
                proxy tcp/{{ happy_eyeballs.webserver.he_v3_quic.ipv4 }}:8443
            }
        }

        tcp/[{{ happy_eyeballs.webserver.he_v3_quic.ipv6 }}]:443 {
            {% for delay in happy_eyeballs.webserver.he_v3_quic.delays %}
            @tls-delay-{{ delay }} tls sni *.tls-delay-{{ delay }}.v3-quic.{{ happy_eyeballs.nameserver.base_domain }}
            route @tls-delay-{{ delay }} {
                throttle {
                    latency {{ delay }}ms
                }

                proxy tcp/[{{ happy_eyeballs.webserver.he_v3_quic.ipv6 }}]:8443
            }
            {% endfor %}

            @tls-other tls
            route @tls-other {
                proxy tcp/[{{ happy_eyeballs.webserver.he_v3_quic.ipv6 }}]:8443
            }
        }
    }
}

### SNIPPETS

(cors) {
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization"
        Access-Control-Max-Age 1728000
        Timing-Allow-Origin *
    }
}

(respond_with_client_ip) {
    templates {
        between (( ))
        mime text/plain
    }
    header Content-Type text/plain
    respond `((.ClientIP))`
}

(respond_with_server_ip) {
    templates {
        between (( ))
        mime text/plain
    }
    header Content-Type text/plain
    respond `((ph "http.request.local.host"))`
}

(respond_with_json) {
    templates {
        between (( ))
        mime application/json
    }
    header Content-Type application/json
    respond `{"server_ip": "((ph "http.request.local.host"))", "client_ip": "((ph "http.request.remote.host"))", "protocol": "((ph "http.request.proto"))"}`
}

### SERVERS

{{ happy_eyeballs.webtester.domains | join(', ') }} {
    bind {{ happy_eyeballs.webtester.ipv4 }} {{ happy_eyeballs.webtester.ipv6 }}

    tls {{ certbot.email }}

    handle /results/* {
        reverse_proxy {{ happy_eyeballs.uploadserver.host }}:{{ happy_eyeballs.uploadserver.port }}
    }

    handle {
        root * {{ happy_eyeballs.base_path }}/www-root
        file_server
    }
}

{{ happy_eyeballs_domains.v1_ipv4_only }}, {{ happy_eyeballs_domains.v1_ipv6_only }} {
    bind {{ happy_eyeballs.webserver.ipv4 }} {{ happy_eyeballs.webserver.ipv6 }}

    tls /etc/letsencrypt/live/{{ happy_eyeballs_domains.v1_ipv6_only }}/fullchain.pem /etc/letsencrypt/live/{{ happy_eyeballs_domains.v1_ipv6_only }}/privkey.pem

    import cors
    import respond_with_client_ip
}

{{ happy_eyeballs_domains.v1 | join(', ') }} {
    bind {% for item in happy_eyeballs.webserver.delays %}{{ item.ipv4 }} {{ item.ipv6 }} {% endfor %}

    tls /etc/letsencrypt/live/{{ happy_eyeballs_domains.v1 | first | replace('*.', '') }}/fullchain.pem /etc/letsencrypt/live/{{ happy_eyeballs_domains.v1 | first | replace('*.', '') }}/privkey.pem

    import cors
    import respond_with_server_ip
}

{{ happy_eyeballs_domains.v2 }} {
    bind {{ happy_eyeballs.webserver.ipv4 }} {{ happy_eyeballs.webserver.ipv6 }}

    tls /etc/letsencrypt/live/{{ happy_eyeballs_domains.v2 | replace('*.', '') }}/fullchain.pem /etc/letsencrypt/live/{{ happy_eyeballs_domains.v2 | replace('*.', '') }}/privkey.pem

    import cors
    import respond_with_server_ip
}

{{ happy_eyeballs_domains.v3_quic.quic_delay | map('regex_replace', '$', ':8443') | join(', ') }},
{{ happy_eyeballs_domains.v3_quic.tls_delay | map('regex_replace', '$', ':8443') | join(', ') }} {
    bind {{ happy_eyeballs.webserver.he_v3_quic.ipv4 }} {{ happy_eyeballs.webserver.he_v3_quic.ipv6 }}

    tls /etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.quic_delay | first | replace('*.', '') }}/fullchain.pem /etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.quic_delay | first | replace('*.', '') }}/privkey.pem
    tls /etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.tls_delay | first | replace('*.', '') }}/fullchain.pem /etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.tls_delay | first | replace('*.', '') }}/privkey.pem

    header Alt-Svc `h3=":443"; ma=600`

    import cors
    import respond_with_json
}

*.http3.http3.{{ happy_eyeballs.nameserver.base_domain }}, *.http3-https.http3.{{ happy_eyeballs.nameserver.base_domain }} {
    bind {{ happy_eyeballs.webserver.http3.ipv4 }} {{ happy_eyeballs.webserver.http3.ipv6 }}

    tls /etc/letsencrypt/live/{{ happy_eyeballs_domains.http3.http3 | replace('*.', '') }}/fullchain.pem /etc/letsencrypt/live/{{ happy_eyeballs_domains.http3.http3 | replace('*.', '') }}/privkey.pem
    tls /etc/letsencrypt/live/{{ happy_eyeballs_domains.http3.http3_https | replace('*.', '') }}/fullchain.pem /etc/letsencrypt/live/{{ happy_eyeballs_domains.http3.http3_https | replace('*.', '') }}/privkey.pem

    header -Alt-Svc

    import cors
    import respond_with_json
}

*.http3-altsvc.http3.{{ happy_eyeballs.nameserver.base_domain }}, *.http3-https-altsvc.http3.{{ happy_eyeballs.nameserver.base_domain }} {
    bind {{ happy_eyeballs.webserver.http3.ipv4 }} {{ happy_eyeballs.webserver.http3.ipv6 }}

    tls /etc/letsencrypt/live/{{ happy_eyeballs_domains.http3.http3_altsvc | replace('*.', '') }}/fullchain.pem /etc/letsencrypt/live/{{ happy_eyeballs_domains.http3.http3_altsvc | replace('*.', '') }}/privkey.pem
    tls /etc/letsencrypt/live/{{ happy_eyeballs_domains.http3.http3_https_altsvc | replace('*.', '') }}/fullchain.pem /etc/letsencrypt/live/{{ happy_eyeballs_domains.http3.http3_https_altsvc | replace('*.', '') }}/privkey.pem

    header Alt-Svc `h3=":443"; ma=600`

    import cors
    import respond_with_json
}
