{
    "apps": {
        "http": {
            "servers": {
                "happy_eyeballs_webtester_server": {
                    "listen": [
                        "{{ happy_eyeballs.webtester.ipv4 }}:443",
                        "[{{ happy_eyeballs.webtester.ipv6 }}]:443"
                    ],
                    "routes": [
                        {
                            "match": [
                                {
                                    "host": {{ happy_eyeballs.webtester.domains | to_json }},
                                    "path": [
                                        "/results/*"
                                    ]
                                }
                            ],
                            "handle": [
                                {
                                    "handler": "reverse_proxy",
                                    "upstreams": [
                                        {
                                            "dial": "{{ happy_eyeballs.uploadserver.host }}:{{ happy_eyeballs.uploadserver.port }}"
                                        }
                                    ]
                                }
                            ],
                            "terminal": true
                        },
                        {
                            "match": [
                                {
                                    "host": {{ happy_eyeballs.webtester.domains | to_json }}
                                }
                            ],
                            "handle": [
                                {
                                    "handler": "file_server",
                                    "root": "{{ happy_eyeballs.base_path }}/www-root",
                                    "index_names": ["main.html"]
                                }
                            ],
                            "terminal": true
                        }
                    ],
                    "tls_connection_policies": [
                        {}
                    ],
                    "logs": {}
                },
                "happy_eyeballs_server": {
                    "listen": [
{% for item in happy_eyeballs.webserver.delays %}
                        "{{ item.ipv4 }}:443",
                        "[{{ item.ipv6 }}]:443",
{% endfor %}
                        "{{ happy_eyeballs.webserver.ipv4 }}:443",
                        "[{{ happy_eyeballs.webserver.ipv6 }}]:443"
                    ],
                    "protocols": [
                        "h1"
                    ],
                    "routes": [
                        {
                            "match": [
                                {
                                    "host": [
                                        "{{ happy_eyeballs_domains.v1_ipv4_only }}",
                                        "{{ happy_eyeballs_domains.v1_ipv6_only }}"
                                    ]
                                }
                            ],
                            "handle": [
                                {
                                    "handler": "headers",
                                    "response": {
                                        "set": {
                                            "Access-Control-Allow-Origin": [
                                                "*"
                                            ],
                                            "Access-Control-Allow-Methods": [
                                                "GET, POST, OPTIONS"
                                            ],
                                            "Access-Control-Allow-Headers": [
                                                "Content-Type, Authorization"
                                            ],
                                            "Access-Control-Max-Age": [
                                                "1728000"
                                            ]
                                        }
                                    }
                                },
                                {
                                    "handler": "templates",
                                    "delimiters": [
                                        "((",
                                        "))"
                                    ],
                                    "mime_types": [
                                        "text/plain"
                                    ]
                                },
                                {
                                    "handler": "static_response",
                                    "headers": {
                                        "Content-Type": [
                                            "text/plain"
                                        ]
                                    },
                                    "body": "((.ClientIP))\n"
                                }
                            ],
                            "terminal": true
                        },
                        {
                            "match": [
                                {
                                    "host": [
{% for item in happy_eyeballs_domains.v1 %}
                                        "{{ item }}",
{% endfor %}
                                        "{{ happy_eyeballs_domains.v2 }}"
                                    ]
                                }
                            ],
                            "handle": [
                                {
                                    "handler": "headers",
                                    "response": {
                                        "set": {
                                            "Access-Control-Allow-Origin": [
                                                "*"
                                            ],
                                            "Access-Control-Allow-Methods": [
                                                "GET, POST, OPTIONS"
                                            ],
                                            "Access-Control-Allow-Headers": [
                                                "Content-Type, Authorization"
                                            ],
                                            "Access-Control-Max-Age": [
                                                "1728000"
                                            ]
                                        }
                                    }
                                },
                                {
                                    "handler": "templates",
                                    "delimiters": [
                                        "((",
                                        "))"
                                    ],
                                    "mime_types": [
                                        "text/plain"
                                    ]
                                },
                                {
                                    "handler": "static_response",
                                    "headers": {
                                        "Content-Type": [
                                            "text/plain"
                                        ]
                                    },
                                    "body": "((ph \"http.request.local.host\"))\n"
                                }
                            ],
                            "terminal": true
                        }
                    ],
                    "tls_connection_policies": [
                        {}
                    ],
                    "automatic_https": {
                        "disable": true
                    },
                    "logs": {}
                },
                "happy_eyeballs_v3_quic_http3_enabled_server": {
                    "listen": [
                        "{{ happy_eyeballs.webserver.http3.ipv4 }}:443",
                        "[{{ happy_eyeballs.webserver.http3.ipv6 }}]:443"
                    ],
                    "protocols": [
                        "h1",
                        "h2",
                        "h3"
                    ],
                    "routes": [
                        {
                            "match": [
                                {
                                    "host": [
                                        "*.http3.v3-quic.{{ happy_eyeballs.nameserver.base_domain }}",
                                        "*.http3-https.v3-quic.{{ happy_eyeballs.nameserver.base_domain }}"
                                    ]
                                }
                            ],
                            "handle": [
                                {
                                    "handler": "headers",
                                    "response": {
                                        "delete": [
                                            "Alt-Svc"
                                        ],
                                        "set": {
                                            "Access-Control-Allow-Origin": [
                                                "*"
                                            ],
                                            "Access-Control-Allow-Methods": [
                                                "GET, POST, OPTIONS"
                                            ],
                                            "Access-Control-Allow-Headers": [
                                                "Content-Type, Authorization"
                                            ],
                                            "Access-Control-Max-Age": [
                                                "1728000"
                                            ]
                                        }
                                    }
                                },
                                {
                                    "handler": "templates",
                                    "delimiters": [
                                        "((",
                                        "))"
                                    ],
                                    "mime_types": [
                                        "application/json"
                                    ]
                                },
                                {
                                    "handler": "static_response",
                                    "headers": {
                                        "Content-Type": [
                                            "application/json"
                                        ]
                                    },
                                    "body": "{\"server_ip\": \"((ph \"http.request.local.host\"))\", \"client_ip\": \"((ph \"http.request.remote.host\"))\", \"protocol\": \"((ph \"http.request.proto\"))\"}\n"
                                }
                            ],
                            "terminal": true
                        },
                        {
                            "match": [
                                {
                                    "host": [
                                        "*.http3-altsvc.v3-quic.{{ happy_eyeballs.nameserver.base_domain }}",
                                        "*.http3-https-altsvc.v3-quic.{{ happy_eyeballs.nameserver.base_domain }}"
                                    ]
                                }
                            ],
                            "handle": [
                                {
                                    "handler": "headers",
                                    "response": {
                                        "set": {
                                            "Alt-Svc": [
                                                "h3=\":443\"; ma=60"
                                            ],
                                            "Access-Control-Allow-Origin": [
                                                "*"
                                            ],
                                            "Access-Control-Allow-Methods": [
                                                "GET, POST, OPTIONS"
                                            ],
                                            "Access-Control-Allow-Headers": [
                                                "Content-Type, Authorization"
                                            ],
                                            "Access-Control-Max-Age": [
                                                "1728000"
                                            ]
                                        }
                                    }
                                },
                                {
                                    "handler": "templates",
                                    "delimiters": [
                                        "((",
                                        "))"
                                    ],
                                    "mime_types": [
                                        "application/json"
                                    ]
                                },
                                {
                                    "handler": "static_response",
                                    "headers": {
                                        "Content-Type": [
                                            "application/json"
                                        ]
                                    },
                                    "body": "{\"server_ip\": \"((ph \"http.request.local.host\"))\", \"client_ip\": \"((ph \"http.request.remote.host\"))\", \"protocol\": \"((ph \"http.request.proto\"))\"}\n"
                                }
                            ],
                            "terminal": true
                        }
                    ],
                    "tls_connection_policies": [
                        {}
                    ],
                    "automatic_https": {
                        "disable": true
                    },
                    "logs": {}
                },
                "happy_eyeballs_v3_quic_http3_only_server": {
                    "listen": [
                        "udp/{{ happy_eyeballs.webserver.http3_only.ipv4 }}:443",
                        "udp/[{{ happy_eyeballs.webserver.http3_only.ipv6 }}]:443"
                    ],
                    "protocols": [
                        "h3"
                    ],
                    "routes": [
                        {
                            "match": [
                                {
                                    "host": [
                                        "*.http3-only.v3-quic.{{ happy_eyeballs.nameserver.base_domain }}",
                                        "*.http3-only-https.v3-quic.{{ happy_eyeballs.nameserver.base_domain }}"
                                    ]
                                }
                            ],
                            "handle": [
                                {
                                    "handler": "headers",
                                    "response": {
                                        "set": {
                                            "Access-Control-Allow-Origin": [
                                                "*"
                                            ],
                                            "Access-Control-Allow-Methods": [
                                                "GET, POST, OPTIONS"
                                            ],
                                            "Access-Control-Allow-Headers": [
                                                "Content-Type, Authorization"
                                            ],
                                            "Access-Control-Max-Age": [
                                                "1728000"
                                            ]
                                        }
                                    }
                                },
                                {
                                    "handler": "templates",
                                    "delimiters": [
                                        "((",
                                        "))"
                                    ],
                                    "mime_types": [
                                        "application/json"
                                    ]
                                },
                                {
                                    "handler": "static_response",
                                    "headers": {
                                        "Content-Type": [
                                            "application/json"
                                        ]
                                    },
                                    "body": "{\"server_ip\": \"((ph \"http.request.local.host\"))\", \"client_ip\": \"((ph \"http.request.remote.host\"))\", \"protocol\": \"((ph \"http.request.proto\"))\"}\n"
                                }
                            ],
                            "terminal": true
                        }
                    ],
                    "tls_connection_policies": [
                        {}
                    ],
                    "automatic_https": {
                        "disable": true
                    },
                    "logs": {}
                }
            }
        },
        "tls": {
            "certificates": {
                "load_files": [
                    {
                        "certificate": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v1_ipv6_only }}/fullchain.pem",
                        "key": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v1_ipv6_only }}/privkey.pem"
                    },
                    {
                        "certificate": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v1 | first | replace('*.', '') }}/fullchain.pem",
                        "key": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v1 | first | replace('*.', '') }}/privkey.pem"
                    },
                    {
                        "certificate": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v2 | replace('*.', '') }}/fullchain.pem",
                        "key": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v2 | replace('*.', '') }}/privkey.pem"
                    },
                    {
                        "certificate": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3 | replace('*.', '') }}/fullchain.pem",
                        "key": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3 | replace('*.', '') }}/privkey.pem"
                    },
                    {
                        "certificate": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_https | replace('*.', '') }}/fullchain.pem",
                        "key": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_https | replace('*.', '') }}/privkey.pem"
                    },
                    {
                        "certificate": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_altsvc | replace('*.', '') }}/fullchain.pem",
                        "key": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_altsvc | replace('*.', '') }}/privkey.pem"
                    },
                    {
                        "certificate": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_https_altsvc | replace('*.', '') }}/fullchain.pem",
                        "key": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_https_altsvc | replace('*.', '') }}/privkey.pem"
                    },
                    {
                        "certificate": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_only | replace('*.', '') }}/fullchain.pem",
                        "key": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_only | replace('*.', '') }}/privkey.pem"
                    },
                    {
                        "certificate": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_only_https | replace('*.', '') }}/fullchain.pem",
                        "key": "/etc/letsencrypt/live/{{ happy_eyeballs_domains.v3_quic.http3_only_https | replace('*.', '') }}/privkey.pem"
                    }
                ]
            },
            "automation": {
                "policies": [
                    {
                        "subjects": {{ happy_eyeballs.webtester.domains | to_json }},
                        "issuers": [
                            {
                                "module": "acme",
                                "email": "{{ certbot.email }}"
                            }
                        ]
                    }
                ]
            }
        }
    },
    "logging": {
        "logs": {
            "console-logger": {
                "writer": {
                    "output": "stdout"
                },
                "encoder": {
                    "format": "console"
                },
                "level": "INFO"
            }
        }
    },
    "admin": {
        "disabled": true
    }
}